body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

.one {
    background-image: url(banner.jpg);
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
}

.one {
    color: aliceblue;
    padding-top: 50px;
}

img {
    width: 100%;
}

.hut {
    color: aliceblue;
    margin: 80px 0;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(the-hut-bg.png);
}

.hut .row {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.293)